.itemlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
}
.item {
    background: rgba(22, 22, 22, .7);
    padding: 30px;
    width: 400px;
    height: 400px;
}
.itemlist h2 {
    font-family: Noto Sans Mono;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: #ddd;
    margin-top: 50px;
}
.itemlist img {
    width: 300px;
    margin: auto;
    display: block;
    height: 200px;
    object-fit: contain;
    object-position: center;
}