.carrocompra {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: rgba(250, 250, 250, 0.2);
    flex-direction: column;
    gap: 10px;
}
.carrocompra p {
    color: #ccc;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;
}
.emptycart {color: grey}
.iconcart {color: gold}