*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans JP;
}
body {
  background-image: url(./assets/background.jpg), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  color: #bbb;
}
